{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    
    <title>{% block title %}Top Fonte | Votre fournisseur de pièces de voirie et d'assainissement en fonte ductile{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.once.js?v=1.2' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel='stylesheet' id='stal-google-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C600%2C700%2C700i%7CMuli%3A300%2C400%2C500%2C600%2C700%2C700i%7CRoboto%3A300%2C400%2C500%2C600%2C700%2C700i&#038;subset=latin-ext&#038;ver=1.0.0' type='text/css' media='all' />


    <link rel="stylesheet" href="{% static 'css/style5.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'css/style7.css' %}" media="all" />
    
    <style type='text/css'>
        @media only screen and (max-width: 680px){
            h1 { 
            font-size: 45px;
            line-height: 50px;
            }
        }
        #qodef-page-footer-top-area { 
            background-color: #101010;
        }
        #qodef-page-footer-bottom-area { 
            background-color: #101010;
        }
        #qodef-page-footer-bottom-area #qodef-page-footer-bottom-area-inner { 
            border-top-color: rgba(255,255,255,0.2);
            border-top-width: 1px;
        }
        .qodef-fullscreen-menu-holder { 
            background-color: #ffffff;
        }
        #qodef-page-inner { 
            padding: 0 0 0 0;
        }
        @media only screen and (max-width: 1024px) { 
            #qodef-page-inner { padding: 0 0 0 0;}
        }
        #qodef-top-area { 
            background-color: #101010;height: 35px;
        }
        #qodef-side-area { 
            background-image: url(../images/side-area-background.jpg);
            background-size: cover;
        }
        .qodef-page-title { 
            height: 500px;
        }
        .qodef-page-title .qodef-m-title { 
            color: #ffffff;
        }
        @media only screen and (max-width: 1024px) { 
            .qodef-page-title { height: 200px;}
        }
        h6 { 
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.045em;
            text-transform: uppercase;
        }
        a, p a { 
            letter-spacing: 0px;
        }
        .qodef-header--standard #qodef-page-header { 
            background-color: #ffffff;
        }
        .qodef-header--standard #qodef-page-header-inner, .qodef-header--standard .qodef-header-sticky { 
            padding-left: 0px;padding-right: 0px;
        }
    </style>
    
     
</head>

{% block content %}
{% endblock content %}

<footer id="qodef-page-footer">

  <div id="qodef-page-footer-top-area" >
    <div id="qodef-page-footer-top-area-inner" class="qodef-content-grid" style="margin-top: -30px">
      <div class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--3 qodef-col-num--1024--2 qodef-col-num--768--2 qodef-col-num--680--1 qodef-col-num--480--1">
        <div class="qodef-grid-inner clear">
          
          <div class="qodef-grid-item">
            <div id="media_image-2" class="widget widget_media_image" data-area="footer_top_area_column_1">
              <a href=""><img width="250"  src="{% static 'images/logo-footer.png' %}" class="image wp-image-5048  attachment-full size-full" alt="m" style="max-width: 100%; height: auto;" srcset="{% static 'images/logo-footer.png' 250w %}, https://stal.qodeinteractive.com/wp-content/uploads/2020/03/LOGO-FOOTER-82x82.jpg 82w, images/logo-footer.png" sizes="(max-width: 120px) 100vw, 250px" /></a>
            </div>
            <div id="stal_core_separator-2" class="widget widget_stal_core_separator" data-area="footer_top_area_column_1">
              <div class="qodef-shortcode qodef-m  qodef-separator clear ">
                <div class="qodef-m-line" style="border-color: rgba(255,255,255,0);margin-top: 10px"></div>
              </div>
            </div>
            <div id="text-10" class="widget widget_text" data-area="footer_top_area_column_1"> 
              <div class="textwidget">
                <p style="font-weight: 300">Bienvenue sur le site de Top Fonte, votre fournisseur de pièces en fonte ductile pour la voirie, l'assainissement, et l'aménagement urbain.</p>
              </div>
            </div>
          </div>

          <div class="qodef-grid-item">
            <div id="nav_menu-2" class="widget widget_nav_menu" data-area="footer_top_area_column_2">
              <h5 class="qodef-widget-title">Produits</h5>
              <div class="menu-footer-menu-i-container">
                <ul id="menu-footer-menu-i" class="menu">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom">
                    <a href="{% url 'shop:product_list_by_category' 'voirie-en-fonte-ductile'%}">Voirie en fonte ductile</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom">
                    <a href="{% url 'shop:product_list_by_category' 'eau-potable'%}">Eau potable - Adduction</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom">
                    <a href="{% url 'shop:product_list_by_category' 'mobilier-urbain'%}">Aménagement urbain</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom ">
                    <a href="">Catalogue 2020</a>
                  </li>
                </ul>
              </div>
            </div> 
          </div>

          <div class="qodef-grid-item">
            <div id="custom_html-2" class="widget_text widget widget_custom_html" data-area="footer_top_area_column_3">
              <h5 class="qodef-widget-title">Contactez Nous</h5>
              <div class="textwidget custom-html-widget">
                <div id="stal_core_icon_list_item-2" class="widget widget_stal_core_icon_list_item" data-area="footer_top_area_column_3">
                  <div class="qodef-icon-list-item qodef-icon--icon-pack qodef-alignment--top" style="margin-bottom: 23px">
                    <p class="qodef-e-title" style="color: #ffffff;line-height: 1.625em; font-weight: 300">
                      <a itemprop="url" href="" target="_blank" rel="noopener noreferrer">
                        <span class="qodef-e-title-inner">
                          <span class="qodef-shortcode qodef-m  qodef-icon-holder qodef-size--default qodef-layout--normal" style="top: 5px;"> 
                            <span class="qodef-icon-ionicons ion-ios-pin qodef-icon qodef-e" style="color: #ff511d;font-size: 25px;"></span> 
                          </span> 
                          <span class="qodef-e-title-text" style="font-weight: 300">21, Rue Michel Ange Etg 5, Racine<br />Casablanca, Maroc</span>
                        </span>
                      </a>
                    </p>
                  </div>
                </div>
                <div id="stal_core_icon_list_item-3" class="widget widget_stal_core_icon_list_item" data-area="footer_top_area_column_3">
                  <div class="qodef-icon-list-item qodef-icon--icon-pack" style="margin-bottom: 23px">
                    <p class="qodef-e-title" style="color: #ffffff">
                      <a itemprop="url" href="tel:123124567" target="_self" rel="noopener noreferrer">
                        <span class="qodef-e-title-inner">
                          <span class="qodef-shortcode qodef-m  qodef-icon-holder qodef-size--default qodef-layout--normal"> 
                            <span class="qodef-icon-ionicons ion-ios-call qodef-icon qodef-e" style="color: #ff511d;font-size: 25px"></span> 
                          </span> <span class="qodef-e-title-text" style="font-weight: 300">+ (212) 661 - 070 182 </span>
                        </span>
                      </a>
                    </p>
                  </div>
                </div>
              <div id="stal_core_icon_list_item-4" class="widget widget_stal_core_icon_list_item" data-area="footer_top_area_column_3">
              <div class="qodef-icon-list-item qodef-icon--icon-pack" style="margin-bottom: 22px">
                <p class="qodef-e-title" style="color: #ffffff">
                  <a itemprop="url" href="mailto:stal@qodeinteractive.com" target="_self" rel="noopener noreferrer">
                    <span class="qodef-e-title-inner">
                      <span class="qodef-shortcode qodef-m  qodef-icon-holder qodef-size--default qodef-layout--normal"> 
                        <span class="qodef-icon-ionicons ion-ios-chatboxes qodef-icon qodef-e" style="color: #ff511d;font-size: 25px"></span> 
                      </span> 
                      <span class="qodef-e-title-text" style="font-weight: 300">info@top-fonte.com</span>
                    </span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>

  <div id="qodef-page-footer-bottom-area" style="margin-top: -60px">
    <div id="qodef-page-footer-bottom-area-inner" class="qodef-content-grid">
      <div class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--2 qodef-col-num--768--1 qodef-col-num--680--1 qodef-col-num--480--1">
        <div class="qodef-grid-inner clear">
          
          <div class="qodef-grid-item">
            <div id="text-12" class="widget widget_text" data-area="footer_bottom_area_column_1"> 
              <div class="textwidget">
                <p><span style="font-size: 14px;">&copy; 2020 Tous droits réservés © <a href="" target="_blank" rel="noopener noreferrer">Top-Fonte</a></span></p>
              </div>
            </div> 
          </div>
    
          <div class="qodef-grid-item">
            <div id="stal_core_icon-11" class="widget widget_stal_core_icon" data-area="footer_bottom_area_column_2">
              <span class="qodef-shortcode qodef-m  qodef-icon-holder qodef-size--default qodef-layout--square" data-hover-color="#ff511d" data-hover-background-color="#ffffff" data-hover-border-color="#ffffff" style="margin: 0 10px 0px 0;width: 40px;height: 40px;line-height: 40px;background-color: #ff511d;border-color: #ff511d">
                <a itemprop="url" href="https://twitter.com/QodeInteractive" target="_blank">
                  <span class="qodef-icon-ionicons ion-logo-twitter qodef-icon qodef-e" style="color: #ffffff;font-size: 20px"></span> 
                </a>
              </span>
            </div>
            <div id="stal_core_icon-3" class="widget widget_stal_core_icon" data-area="footer_bottom_area_column_2">
              <span class="qodef-shortcode qodef-m  qodef-icon-holder qodef-size--default qodef-layout--square" data-hover-color="#ff511d" data-hover-background-color="#ffffff" data-hover-border-color="#ffffff" style="margin: 0 10px 0px 0;width: 40px;height: 40px;line-height: 40px;background-color: #ff511d;border-color: #ff511d">
                <a itemprop="url" href="https://www.facebook.com/QodeInteractive/" target="_blank">
                  <span class="qodef-icon-ionicons ion-logo-facebook qodef-icon qodef-e" style="color: #ffffff;font-size: 20px"></span> 
                </a>
              </span>
            </div>
            <div id="stal_core_icon-4" class="widget widget_stal_core_icon" data-area="footer_bottom_area_column_2">
              <span class="qodef-shortcode qodef-m  qodef-icon-holder qodef-size--default qodef-layout--square" data-hover-color="#ff511d" data-hover-background-color="#ffffff" data-hover-border-color="#ffffff" style="margin: 0 0px 0px 0;width: 40px;height: 40px;line-height: 40px;background-color: #ff511d;border-color: #ff511d">
                <a itemprop="url" href="https://www.linkedin.com/company/qode-themes/" target="_blank">
                  <span class="qodef-icon-ionicons ion-logo-linkedin qodef-icon qodef-e" style="color: #ffffff;font-size: 20px"></span> 
                </a>
              </span>
            </div> 
          </div>
    
        </div>
      </div>
    </div>
  </div>

</footer>

<script type="text/javascript">
  var sbiajaxurl = "https://stal.qodeinteractive.com/wp-admin/admin-ajax.php";
  </script>
  <script type="text/javascript">
      var c = document.body.className;
      c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
      document.body.className = c;
    </script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var wpcf7 = {"apiSettings":{"root":"https:\/\/stal.qodeinteractive.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
  /* ]]> */
  </script>
  <script src="https://stal.qodeinteractive.com/wp-content/cache/minify/0fef6.js"></script>
  <script type='text/javascript' src='https://export.qodethemes.com/_toolbar/assets/js/rbt-modules.js?ver=5.3.4'></script>
  <script src="https://stal.qodeinteractive.com/wp-content/cache/minify/6d18f.js"></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/stal.qodeinteractive.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
  /* ]]> */
  </script>
  <script src="https://stal.qodeinteractive.com/wp-content/cache/minify/dc06c.js"></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
  /* ]]> */
  </script>
  <script src="https://stal.qodeinteractive.com/wp-content/cache/minify/63a69.js"></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_5593f59e62ccd69331c40309e3bd962e","fragment_name":"wc_fragments_5593f59e62ccd69331c40309e3bd962e","request_timeout":"5000"};
  /* ]]> */
  </script>
  <script src="https://stal.qodeinteractive.com/wp-content/cache/minify/82c3e.js"></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var qodefGlobal = {"vars":{"adminBarHeight":0,"topAreaHeight":35,"restUrl":"https:\/\/stal.qodeinteractive.com\/wp-json\/","paginationRestRoute":"stal\/v1\/get-posts","paginationNonce":"80c0fa8b44","headerHeight":86,"mobileHeaderHeight":70}};
  /* ]]> */
  </script>
  <script src="https://stal.qodeinteractive.com/wp-content/cache/minify/3d35d.js"></script>
  <script type='text/javascript'>
  var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","downloadImage":"Download image"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"2.9.6","urls":{"assets":"https:\/\/stal.qodeinteractive.com\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"general":{"elementor_lightbox_enable_counter":"yes","elementor_lightbox_enable_fullscreen":"yes","elementor_lightbox_enable_zoom":"yes","elementor_lightbox_enable_share":"yes","elementor_lightbox_title_src":"title","elementor_lightbox_description_src":"description"},"editorPreferences":[]},"post":{"id":2128,"title":"Four Columns \u2013 St\u00e5l","excerpt":"","featuredImage":false}};
  </script>
  <script src="https://stal.qodeinteractive.com/wp-content/cache/minify/9f110.js"></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var qodefElementorGlobal = {"vars":{"elementorParallaxSection":[]}};
  /* ]]> */
  </script>
  <script src="https://stal.qodeinteractive.com/wp-content/cache/minify/432a9.js"></script>
  
  </body>

  </html>
